<<<<<<< HEAD
.menuPizza{
    background-color: #EA6969;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.menupizza_item{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menupizza_item li{
    border-radius: 3px;
    margin: 0 5px;
}
.menupizza_item li a{
    padding: 8px 13px;
    font-size: 20px;
=======
* {
    margin: 0;
    padding: 0;
}

.encabezadomenu {
    background: #EA6969;
}

.encabezadomenu nav {
    display: flex;
    justify-content: space-around;
    height: 5em;
}

.encabezadomenu nav ul {
    list-style: none;
    display: flex;
    font: 3em sans-serif;
}

a {
>>>>>>> 835feb7d1c1aa64da4735047273c7b9eb183a5c5
    text-decoration: none;
    color: white;
}